<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style1.css">
  <title>Cf-User Details</title>
</head>

<body>
  <!-- your content here... -->
  <div class="username">
      <h1>{{firstname}} {{lastname}}</h1>
    </div>
  <div class="grid">
    <div class="card">
      <h1 class="head">Handle</h1>
      <h1>{{handle}}</h1>
    </div>
    <div class="card">
      <h1 class="head">First Name</h1>
      <h1>{{firstname}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Last Name</h1>
      <h1>{{lastname}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Country</h1>
      <h1>{{country}}</h1>
    </div>
    <div class="card">
      <h1 class="head">City</h1>
      <h1>{{city}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Organization</h1>
      <h1>{{org}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Current Rating</h1>
      <h1>{{currRating}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Max Rating</h1>
      <h1>{{maxRating}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Current Title</h1>
      <h1>{{currTitle}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Friends Count</h1>
      <h1>{{friends}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Contribution</h1>
      <h1>{{contribution}}</h1>
    </div>
    <div class="card">
      <h1 class="head">Max Title</h1>
      <h1>{{maxTitle}}</h1>
    </div>
  </div>
</body>
</html>
